{% load static %}

<div id="table-cont">
    <table class="table" id="dataTable">
        <thead class="">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Customer</th>
            <th scope="col">Email</th>
            <th scope="col">Service</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Payment</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="">
            {% for data in appoints %}
          <tr id="{{data.appointId}}">
      
            <!-- <td >{{data.appointId}}</td> -->
            <td>{{forloop.counter}}</td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.mobile}}</td>
            <td>{{data.date}}</td>
            <td>{{data.time}}</td>
            <td>{{data.service}}</td>
            <td>{{data.get_status_display}}</td>
            <td>
                <button class="btn rounded glass-bg  Cancel" onclick="valDelete('{{ data.appointId}}');">Cancel</button>
                <button class="btn rounded glass-bg ">Done</button>
            </td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
  </div>